[Desktop Entry]
Type=Application
Name=winebrowser
MimeType=text/xml;
Exec=env WINEPREFIX="/tmp/MyCoolWrapper.app/Contents/Resources" wine start /ProgIDOpen xmlfile %f
NoDisplay=true
StartupNotify=true
Icon=7765_winebrowser.0
