[Desktop Entry]
Type=Application
Name=winebrowser
MimeType=application/x-wine-extension-pdf;
Exec=env WINEPREFIX="/tmp/MyCoolWrapper.app/Contents/Resources" wine start /ProgIDOpen pdffile %f
NoDisplay=true
StartupNotify=true
Icon=7765_winebrowser.0
