<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- 
    # Load and start your new agent

    ## With the built in `launchctl`
    $ launchctl load ~/Library/LaunchAgents/org.yourusername.email-mom.plist
    $ launchctl start org.yourusername.email-mom

    ## Or with Lunchy
    ## `restart` will unload your agent (if it's loaded), load it, then start the job
    ## Lunchy sees the argument as a pattern, so you don't have to specify the entire agent-name
    $ lunchy restart email-mom
    -->
    <key>Label</key>
    <!-- The label should be the same as the filename without the extension -->
    <string>org.yourusername.email-mom</string>
    <!-- Specify how to run your program here -->
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python</string>
        <string>/Users/yourusername/bin/email.py</string>
        <string>mom@home.com</string>
    </array>
    <!-- StartCalendarInterval examples -->
    <!-- Run every Sunday (weekday 0) at 15:30/3:30PM -->
    <!-- <key>StartCalendarInterval</key>
    <dict>
          <key>Weekday</key>
          <integer>0</integer>
          <key>Hour</key>
          <integer>15</integer>
          <key>Minute</key>
          <integer>30</integer>
    </dict>

     You can use an array of dicts to specify multiple intervals 
     Run at the beginning and middle of every hour, every day 
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>30</integer>
        </dict>
    </array> -->
    <!-- Run every hour -->
    <key>StartInterval</key>
    <integer>3600</integer><!-- seconds -->
</dict>
</plist>
